  <div class="nested-fields form-control">
          <%= f.text_field :body, class: "distractor_body" %>
          <%= f.label :correct %>
          <%= f.radio_button :correct, true, checked: false %>
      <%= link_to_remove_association "Delete distractor", f%>
  </div>
